<footer class="mt-auto py-3 text-center">
<hr>
  <p style="font-size: 15px" text-muted mb-2 >
    <!--<i class="fas fa-code"></i> with <i class="fas fa-heart"></i>-->
    <br>
    <strong>Wanna discuss something? Feel free to connect with me!</strong>
  </p>

  <div class="connect-text">
    Send me an email at	<div class="connect-highlight"><a href="mailto:nicholasdakin63@gmail.com">nicholasdakin63@gmail.com</a></div>
    <!-- or message through linkedin	<div class="connect-highlight"><a href="https://www.linkedin.com/in/nicholasdakin">@nicholasdakin</a></div> -->
    </div>
  
  {% include social.html %}

  {%- assign theme_name = "nicholasdakin" -%}
  {%- assign theme_repo = "https://github.com/nicholasdakin/nicholasdakin.github.io" -%}

  <button id="scrollTopButton" class="btn btn-primary" style="display: none;">
    <i class="fas fa-arrow-up"></i>
  </button>

  <!--<small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>-->
  
</footer>